div(data-role='collapsible', data-collapsed='true')
	h3= team.name

	ul(data-role='listview', data-inset='true', data-theme='c')
		li(data-role='list-divider')
			h3(style='text-align:center')= team.name

		!= partial('partials/rooster', { collection: team.rooster, as: 'player', title: 'Rooster' })
		!= partial('partials/rooster', { collection: team.substitutes, as: 'player', title: 'Substitutes' })
