!!!
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(content='text/html;charset=UTF-8', http-equiv='Content-Type')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body!= body
		script(type='text/javascript', src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/jquery.mobile.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/minute.js')
